[class^='wt-'],
[class*=' wt-'] {
  border-width: 0;
  border-style: solid;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.wt-rewrite-card .wt-menu-item,
  .wt-rewrite-card .wt-dropdown button{
  text-transform: capitalize;
}
.wt-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
.wt-scrollbar::-webkit-scrollbar-button {
    width: 8px;
    height: 8px;
  }
.wt-scrollbar::-webkit-scrollbar-thumb {
    background: #f2f2f2;
    border: 0px solid #ffffff;
    border-radius: 50px;
  }
.wt-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6;
  }
.wt-scrollbar::-webkit-scrollbar-thumb:active {
    background: #e6e6e6;
  }
.wt-scrollbar::-webkit-scrollbar-track {
    background: white;
    border: 28px none #75498d;
    border-radius: 8px;
  }
.wt-scrollbar::-webkit-scrollbar-track:hover {
    background: white;
  }
.wt-scrollbar::-webkit-scrollbar-track:active {
    background: #f2f2f2;
  }
.wt-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
.wt-sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.wt-invisible{
  visibility: hidden;
}
.wt-fixed{
  position: fixed;
}
.wt-absolute{
  position: absolute;
}
.wt-relative{
  position: relative;
}
.wt-inset-0{
  inset: 0px;
}
.wt-bottom-1{
  bottom: 0.25rem;
}
.wt-left-6{
  left: 1.5rem;
}
.wt-right-1{
  right: 0.25rem;
}
.wt-right-4{
  right: 1rem;
}
.wt-top-1{
  top: 0.25rem;
}
.wt-top-2{
  top: 0.5rem;
}
.wt-top-4{
  top: 1rem;
}
.-wt-z-10{
  z-index: -10;
}
.wt-z-10{
  z-index: 10;
}
.wt-z-\[10000\]{
  z-index: 10000;
}
.wt-m-0{
  margin: 0px;
}
.wt-m-10{
  margin: 2.5rem;
}
.wt-m-20{
  margin: 5rem;
}
.wt-mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.wt-my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.wt-my-2\.5{
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.wt-mb-2{
  margin-bottom: 0.5rem;
}
.wt-mb-3{
  margin-bottom: 0.75rem;
}
.wt-mb-8{
  margin-bottom: 2rem;
}
.wt-mb-\[2px\]{
  margin-bottom: 2px;
}
.wt-mb-\[3px\]{
  margin-bottom: 3px;
}
.wt-ml-1{
  margin-left: 0.25rem;
}
.wt-ml-2{
  margin-left: 0.5rem;
}
.wt-mr-1{
  margin-right: 0.25rem;
}
.wt-mr-2{
  margin-right: 0.5rem;
}
.wt-mr-4{
  margin-right: 1rem;
}
.wt-mt-1{
  margin-top: 0.25rem;
}
.wt-mt-6{
  margin-top: 1.5rem;
}
.wt-box-border{
  box-sizing: border-box;
}
.wt-block{
  display: block;
}
.wt-inline-block{
  display: inline-block;
}
.wt-flex{
  display: flex;
}
.wt-inline-flex{
  display: inline-flex;
}
.wt-h-10{
  height: 2.5rem;
}
.wt-h-12{
  height: 3rem;
}
.wt-h-2{
  height: 0.5rem;
}
.wt-h-3{
  height: 0.75rem;
}
.wt-h-4{
  height: 1rem;
}
.wt-h-5{
  height: 1.25rem;
}
.wt-h-6{
  height: 1.5rem;
}
.wt-h-8{
  height: 2rem;
}
.wt-h-9{
  height: 2.25rem;
}
.wt-h-\[11px\]{
  height: 11px;
}
.wt-h-fit{
  height: -moz-fit-content;
  height: fit-content;
}
.wt-h-full{
  height: 100%;
}
.wt-max-h-80{
  max-height: 20rem;
}
.wt-max-h-\[250px\]{
  max-height: 250px;
}
.wt-max-h-\[428px\]{
  max-height: 428px;
}
.wt-max-h-none{
  max-height: none;
}
.wt-min-h-\[190px\]{
  min-height: 190px;
}
.wt-min-h-full{
  min-height: 100%;
}
.wt-min-h-screen{
  min-height: 100vh;
}
.wt-w-10{
  width: 2.5rem;
}
.wt-w-12{
  width: 3rem;
}
.wt-w-2{
  width: 0.5rem;
}
.wt-w-4{
  width: 1rem;
}
.wt-w-40{
  width: 10rem;
}
.wt-w-48{
  width: 12rem;
}
.wt-w-5{
  width: 1.25rem;
}
.wt-w-6{
  width: 1.5rem;
}
.wt-w-60{
  width: 15rem;
}
.wt-w-72{
  width: 18rem;
}
.wt-w-8{
  width: 2rem;
}
.wt-w-80{
  width: 20rem;
}
.wt-w-96{
  width: 24rem;
}
.wt-w-\[100\%\]{
  width: 100%;
}
.wt-w-\[200px\]{
  width: 200px;
}
.wt-w-\[272px\]{
  width: 272px;
}
.wt-w-\[328px\]{
  width: 328px;
}
.wt-w-\[360px\]{
  width: 360px;
}
.wt-w-\[380px\]{
  width: 380px;
}
.wt-w-\[400px\]{
  width: 400px;
}
.wt-w-\[520px\]{
  width: 520px;
}
.wt-w-\[600px\]{
  width: 600px;
}
.wt-w-\[740px\]{
  width: 740px;
}
.wt-w-auto{
  width: auto;
}
.wt-w-fit{
  width: -moz-fit-content;
  width: fit-content;
}
.wt-w-full{
  width: 100%;
}
.wt-min-w-0{
  min-width: 0px;
}
.wt-min-w-\[160px\]{
  min-width: 160px;
}
.wt-min-w-\[300px\]{
  min-width: 300px;
}
.wt-max-w-3xl{
  max-width: 48rem;
}
.wt-max-w-\[600px\]{
  max-width: 600px;
}
.wt-max-w-full{
  max-width: 100%;
}
.wt-flex-1{
  flex: 1 1 0%;
}
.wt-flex-none{
  flex: none;
}
.wt-shrink-0{
  flex-shrink: 0;
}
.wt-flex-grow{
  flex-grow: 1;
}
.wt-grow{
  flex-grow: 1;
}
.wt-rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.wt-scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.wt-scale-95{
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.wt-transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes wt-pulse{
  50%{
    opacity: .5;
  }
}
.wt-animate-pulse{
  animation: wt-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.wt-cursor-default{
  cursor: default;
}
.wt-cursor-ns-resize{
  cursor: ns-resize;
}
.wt-cursor-pointer{
  cursor: pointer;
}
.wt-select-none{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wt-flex-col{
  flex-direction: column;
}
.wt-flex-wrap{
  flex-wrap: wrap;
}
.wt-items-end{
  align-items: flex-end;
}
.wt-items-center{
  align-items: center;
}
.wt-justify-start{
  justify-content: flex-start;
}
.wt-justify-end{
  justify-content: flex-end;
}
.wt-justify-center{
  justify-content: center;
}
.wt-justify-between{
  justify-content: space-between;
}
.wt-justify-evenly{
  justify-content: space-evenly;
}
.wt-gap-1{
  gap: 0.25rem;
}
.wt-gap-2{
  gap: 0.5rem;
}
.wt-gap-3{
  gap: 0.75rem;
}
.wt-gap-4{
  gap: 1rem;
}
.wt-gap-\[14px\]{
  gap: 14px;
}
.wt-gap-\[3px\]{
  gap: 3px;
}
.wt-gap-x-1{
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.wt-gap-x-2{
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.wt-space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.wt-overflow-auto{
  overflow: auto;
}
.wt-overflow-hidden{
  overflow: hidden;
}
.wt-overflow-y-auto{
  overflow-y: auto;
}
.wt-overflow-x-hidden{
  overflow-x: hidden;
}
.wt-overflow-ellipsis{
  text-overflow: ellipsis;
}
.wt-whitespace-nowrap{
  white-space: nowrap;
}
.wt-whitespace-pre-wrap{
  white-space: pre-wrap;
}
.wt-break-normal{
  overflow-wrap: normal;
  word-break: normal;
}
.\!wt-rounded-none{
  border-radius: 0px !important;
}
.wt-rounded{
  border-radius: 0.25rem;
}
.wt-rounded-3xl{
  border-radius: 1.5rem;
}
.wt-rounded-\[10px\]{
  border-radius: 10px;
}
.wt-rounded-\[30px\]{
  border-radius: 30px;
}
.wt-rounded-\[4px\]{
  border-radius: 4px;
}
.wt-rounded-full{
  border-radius: 9999px;
}
.wt-rounded-lg{
  border-radius: 0.5rem;
}
.wt-rounded-sm{
  border-radius: 0.125rem;
}
.wt-rounded-b{
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.wt-rounded-t{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.wt-border{
  border-width: 1px;
}
.\!wt-border-t{
  border-top-width: 1px !important;
}
.wt-border-b{
  border-bottom-width: 1px;
}
.wt-border-b-2{
  border-bottom-width: 2px;
}
.wt-border-t-2{
  border-top-width: 2px;
}
.wt-border-none{
  border-style: none;
}
.wt-border-error-light{
  --tw-border-opacity: 1;
  border-color: rgb(248 128 120 / var(--tw-border-opacity));
}
.wt-border-error-main{
  --tw-border-opacity: 1;
  border-color: rgb(244 71 47 / var(--tw-border-opacity));
}
.wt-border-gray-dark{
  --tw-border-opacity: 1;
  border-color: rgb(160 162 168 / var(--tw-border-opacity));
}
.wt-border-gray-light{
  --tw-border-opacity: 1;
  border-color: rgb(230 232 238 / var(--tw-border-opacity));
}
.wt-border-gray-lighter{
  --tw-border-opacity: 1;
  border-color: rgb(245 246 249 / var(--tw-border-opacity));
}
.wt-border-info-main{
  --tw-border-opacity: 1;
  border-color: rgb(41 121 255 / var(--tw-border-opacity));
}
.wt-border-primary-light{
  --tw-border-opacity: 1;
  border-color: rgb(188 99 223 / var(--tw-border-opacity));
}
.wt-border-t-gray-light{
  --tw-border-opacity: 1;
  border-top-color: rgb(230 232 238 / var(--tw-border-opacity));
}
.wt-bg-background-light{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.wt-bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.wt-bg-error-main{
  --tw-bg-opacity: 1;
  background-color: rgb(244 71 47 / var(--tw-bg-opacity));
}
.wt-bg-error-main\/10{
  background-color: rgb(244 71 47 / 0.1);
}
.wt-bg-gray-lighter{
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 249 / var(--tw-bg-opacity));
}
.wt-bg-gray-lightest{
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 252 / var(--tw-bg-opacity));
}
.wt-bg-gray-main{
  --tw-bg-opacity: 1;
  background-color: rgb(195 198 206 / var(--tw-bg-opacity));
}
.wt-bg-info-lightest{
  --tw-bg-opacity: 1;
  background-color: rgb(234 242 255 / var(--tw-bg-opacity));
}
.wt-bg-neutral-default{
  --tw-bg-opacity: 1;
  background-color: rgb(28 28 30 / var(--tw-bg-opacity));
}
.wt-bg-neutral-disabled-secondary{
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 234 / var(--tw-bg-opacity));
}
.wt-bg-primary-lightest{
  --tw-bg-opacity: 1;
  background-color: rgb(251 243 255 / var(--tw-bg-opacity));
}
.wt-bg-primary-main{
  --tw-bg-opacity: 1;
  background-color: rgb(139 10 190 / var(--tw-bg-opacity));
}
.wt-bg-primary-main\/5{
  background-color: rgb(139 10 190 / 0.05);
}
.wt-bg-primary-transparent{
  background-color: transparent;
}
.wt-bg-tranparant{
  background-color: transparent;
}
.wt-bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.wt-p-0{
  padding: 0px;
}
.wt-p-1{
  padding: 0.25rem;
}
.wt-p-10{
  padding: 2.5rem;
}
.wt-p-14{
  padding: 3.5rem;
}
.wt-p-2{
  padding: 0.5rem;
}
.wt-p-6{
  padding: 1.5rem;
}
.wt-p-\[6px\]{
  padding: 6px;
}
.wt-px-0{
  padding-left: 0px;
  padding-right: 0px;
}
.wt-px-0\.5{
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}
.wt-px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.wt-px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}
.wt-px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.wt-px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.wt-px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.wt-px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.wt-px-\[200px\]{
  padding-left: 200px;
  padding-right: 200px;
}
.wt-py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}
.wt-py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.wt-py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.wt-py-1\.5{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.wt-py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.wt-py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.wt-py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.wt-py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.wt-py-\[10px\]{
  padding-top: 10px;
  padding-bottom: 10px;
}
.wt-py-\[2px\]{
  padding-top: 2px;
  padding-bottom: 2px;
}
.wt-py-\[6px\]{
  padding-top: 6px;
  padding-bottom: 6px;
}
.wt-pb-6{
  padding-bottom: 1.5rem;
}
.wt-pb-8{
  padding-bottom: 2rem;
}
.wt-pb-\[9px\]{
  padding-bottom: 9px;
}
.wt-pl-1{
  padding-left: 0.25rem;
}
.wt-pl-2{
  padding-left: 0.5rem;
}
.wt-pl-3{
  padding-left: 0.75rem;
}
.wt-pl-6{
  padding-left: 1.5rem;
}
.wt-pr-2{
  padding-right: 0.5rem;
}
.wt-pr-4{
  padding-right: 1rem;
}
.wt-pr-7{
  padding-right: 1.75rem;
}
.wt-pr-\[14px\]{
  padding-right: 14px;
}
.wt-pt-3{
  padding-top: 0.75rem;
}
.wt-pt-6{
  padding-top: 1.5rem;
}
.wt-text-center{
  text-align: center;
}
.wt-text-start{
  text-align: start;
}
.wt-indent-1{
  text-indent: 0.25rem;
}
.wt-indent-1\.5{
  text-indent: 0.375rem;
}
.wt-indent-2{
  text-indent: 0.5rem;
}
.wt-indent-2\.5{
  text-indent: 0.625rem;
}
.wt-font-body{
  font-family: "Open Sans", sans-serif;
}
.wt-font-sans{
  font-family: SofiaPro, "Open Sans", sans-serif;
}
.wt-text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.wt-text-\[10px\]{
  font-size: 10px;
}
.wt-text-\[11px\]{
  font-size: 11px;
}
.wt-text-\[12px\]{
  font-size: 12px;
}
.wt-text-\[14px\]{
  font-size: 14px;
}
.wt-text-\[16px\]{
  font-size: 16px;
}
.wt-text-\[17px\]{
  font-size: 17px;
}
.wt-text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.wt-text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.wt-text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.wt-font-bold{
  font-weight: 700;
}
.wt-font-light{
  font-weight: 300;
}
.wt-font-medium{
  font-weight: 500;
}
.wt-font-normal{
  font-weight: 400;
}
.wt-font-semibold{
  font-weight: 600;
}
.wt-leading-5{
  line-height: 1.25rem;
}
.wt-leading-6{
  line-height: 1.5rem;
}
.wt-leading-7{
  line-height: 1.75rem;
}
.wt-leading-8{
  line-height: 2rem;
}
.wt-leading-\[14px\]{
  line-height: 14px;
}
.wt-tracking-\[\.01em\]{
  letter-spacing: .01em;
}
.wt-tracking-body{
  letter-spacing: 0.15px;
}
.wt-tracking-wide{
  letter-spacing: 0.025em;
}
.wt-tracking-wider{
  letter-spacing: 0.05em;
}
.wt-tracking-widest{
  letter-spacing: 0.1em;
}
.wt-text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.wt-text-brand-primary{
  --tw-text-opacity: 1;
  color: rgb(139 10 190 / var(--tw-text-opacity));
}
.wt-text-error-main{
  --tw-text-opacity: 1;
  color: rgb(244 71 47 / var(--tw-text-opacity));
}
.wt-text-gray-dark{
  --tw-text-opacity: 1;
  color: rgb(160 162 168 / var(--tw-text-opacity));
}
.wt-text-gray-darker{
  --tw-text-opacity: 1;
  color: rgb(98 99 106 / var(--tw-text-opacity));
}
.wt-text-gray-darkest{
  --tw-text-opacity: 1;
  color: rgb(31 33 39 / var(--tw-text-opacity));
}
.wt-text-gray-main{
  --tw-text-opacity: 1;
  color: rgb(195 198 206 / var(--tw-text-opacity));
}
.wt-text-info-main{
  --tw-text-opacity: 1;
  color: rgb(41 121 255 / var(--tw-text-opacity));
}
.wt-text-neutral-default{
  --tw-text-opacity: 1;
  color: rgb(28 28 30 / var(--tw-text-opacity));
}
.wt-text-neutral-disabled{
  --tw-text-opacity: 1;
  color: rgb(199 199 204 / var(--tw-text-opacity));
}
.wt-text-neutral-secondary{
  --tw-text-opacity: 1;
  color: rgb(72 72 74 / var(--tw-text-opacity));
}
.wt-text-primary-main{
  --tw-text-opacity: 1;
  color: rgb(139 10 190 / var(--tw-text-opacity));
}
.wt-text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.wt-underline{
  text-decoration-line: underline;
}
.wt-opacity-0{
  opacity: 0;
}
.wt-opacity-100{
  opacity: 1;
}
.wt-opacity-20{
  opacity: 0.2;
}
.wt-opacity-30{
  opacity: 0.3;
}
.wt-opacity-60{
  opacity: 0.6;
}
.wt-shadow-border{
  --tw-shadow: 0px 0px 0px 0.5px #C3C6CE inset;
  --tw-shadow-colored: inset 0px 0px 0px 0.5px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wt-shadow-border-left{
  --tw-shadow: 1px 0px 0px 0px #E6E8EE inset;
  --tw-shadow-colored: inset 1px 0px 0px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wt-shadow-border-right-thick{
  --tw-shadow: -2px 0px 0px 0px #E6E8EE inset;
  --tw-shadow-colored: inset -2px 0px 0px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wt-shadow-border-top{
  --tw-shadow: 0px -1px 0px #E6E8EE;
  --tw-shadow-colored: 0px -1px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wt-shadow-card{
  --tw-shadow: 0px 4px 14px rgba(72, 72, 74, 0.2);
  --tw-shadow-colored: 0px 4px 14px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wt-shadow-inner-border-top{
  --tw-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: inset 0px 1px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wt-shadow-toolbar{
  --tw-shadow: 0px 4px 14px rgba(28, 28, 30, 0.05);
  --tw-shadow-colored: 0px 4px 14px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wt-shadow-gray-light{
  --tw-shadow-color: #E6E8EE;
  --tw-shadow: var(--tw-shadow-colored);
}
.wt-outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.wt-outline-0{
  outline-width: 0px;
}
.wt-ring-1{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.wt-ring-inset{
  --tw-ring-inset: inset;
}
.wt-ring-gray-light{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(230 232 238 / var(--tw-ring-opacity));
}
.wt-backdrop-blur-\[15px\]{
  --tw-backdrop-blur: blur(15px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.wt-transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.wt-transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.wt-transition-opacity{
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.wt-duration-100{
  transition-duration: 100ms;
}
.wt-duration-75{
  transition-duration: 75ms;
}
.wt-ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.placeholder\:wt-font-body::-moz-placeholder{
  font-family: "Open Sans", sans-serif;
}
.placeholder\:wt-font-body::placeholder{
  font-family: "Open Sans", sans-serif;
}
.placeholder\:wt-font-extralight::-moz-placeholder{
  font-weight: 200;
}
.placeholder\:wt-font-extralight::placeholder{
  font-weight: 200;
}
.placeholder\:wt-leading-5::-moz-placeholder{
  line-height: 1.25rem;
}
.placeholder\:wt-leading-5::placeholder{
  line-height: 1.25rem;
}
.placeholder\:wt-tracking-\[0\.15px\]::-moz-placeholder{
  letter-spacing: 0.15px;
}
.placeholder\:wt-tracking-\[0\.15px\]::placeholder{
  letter-spacing: 0.15px;
}
.placeholder\:wt-text-gray-dark::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(160 162 168 / var(--tw-text-opacity));
}
.placeholder\:wt-text-gray-dark::placeholder{
  --tw-text-opacity: 1;
  color: rgb(160 162 168 / var(--tw-text-opacity));
}
.before\:wt-h-5::before{
  content: var(--tw-content);
  height: 1.25rem;
}
.before\:wt-w-5::before{
  content: var(--tw-content);
  width: 1.25rem;
}
.before\:wt-rounded-full::before{
  content: var(--tw-content);
  border-radius: 9999px;
}
.before\:wt-bg-white::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.before\:wt-shadow::before{
  content: var(--tw-content);
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.before\:wt-transition-transform::before{
  content: var(--tw-content);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.before\:wt-duration-300::before{
  content: var(--tw-content);
  transition-duration: 300ms;
}
.before\:wt-content-\[\"\"\]::before{
  --tw-content: "";
  content: var(--tw-content);
}
.visited\:wt-text-info-main:visited{
  color: rgb(41 121 255 );
}
.focus-within\:wt-border-primary-light:focus-within{
  --tw-border-opacity: 1;
  border-color: rgb(188 99 223 / var(--tw-border-opacity));
}
.hover\:wt-bg-error-dark:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(227 27 12 / var(--tw-bg-opacity));
}
.hover\:wt-bg-gray-lighter:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 249 / var(--tw-bg-opacity));
}
.hover\:wt-bg-gray-lightest:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 252 / var(--tw-bg-opacity));
}
.hover\:wt-bg-primary-dark:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(111 8 152 / var(--tw-bg-opacity));
}
.hover\:wt-text-brand-hover:hover{
  --tw-text-opacity: 1;
  color: rgb(126 9 173 / var(--tw-text-opacity));
}
.hover\:wt-opacity-100:hover{
  opacity: 1;
}
.hover\:wt-brightness-\[0\.97\]:hover{
  --tw-brightness: brightness(0.97);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.focus\:wt-bg-gray-lightest:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 252 / var(--tw-bg-opacity));
}
.active\:wt-bg-error-darker:active{
  --tw-bg-opacity: 1;
  background-color: rgb(161 18 18 / var(--tw-bg-opacity));
}
.active\:wt-bg-error-lightest:active{
  --tw-bg-opacity: 1;
  background-color: rgb(254 236 235 / var(--tw-bg-opacity));
}
.active\:wt-bg-gray-light:active{
  --tw-bg-opacity: 1;
  background-color: rgb(230 232 238 / var(--tw-bg-opacity));
}
.active\:wt-bg-info-lightest:active{
  --tw-bg-opacity: 1;
  background-color: rgb(234 242 255 / var(--tw-bg-opacity));
}
.active\:wt-bg-primary-darker:active{
  --tw-bg-opacity: 1;
  background-color: rgb(82 0 123 / var(--tw-bg-opacity));
}
.active\:wt-bg-primary-lightest:active{
  --tw-bg-opacity: 1;
  background-color: rgb(251 243 255 / var(--tw-bg-opacity));
}
.active\:wt-opacity-100:active{
  opacity: 1;
}
.active\:wt-shadow-info-light:active{
  --tw-shadow-color: #649EFF;
  --tw-shadow: var(--tw-shadow-colored);
}
.enabled\:wt-cursor-pointer:enabled{
  cursor: pointer;
}
.wt-group:hover .group-hover\:wt-visible{
  visibility: visible;
}
.wt-group:hover .group-hover\:wt-border-error-main{
  --tw-border-opacity: 1;
  border-color: rgb(244 71 47 / var(--tw-border-opacity));
}
.wt-group:hover .group-hover\:wt-bg-error-main\/10{
  background-color: rgb(244 71 47 / 0.1);
}
.wt-group:hover .group-hover\:wt-bg-info-main{
  --tw-bg-opacity: 1;
  background-color: rgb(41 121 255 / var(--tw-bg-opacity));
}
.wt-group:hover .group-hover\:wt-bg-primary-main\/5{
  background-color: rgb(139 10 190 / 0.05);
}
.wt-group:hover .group-hover\:wt-text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.wt-peer:checked ~ .peer-checked\:wt-bg-accent-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(41 121 255 / var(--tw-bg-opacity));
}
.wt-peer:checked ~ .peer-checked\:wt-bg-accent-secondary{
  --tw-bg-opacity: 1;
  background-color: rgb(189 213 255 / var(--tw-bg-opacity));
}
.wt-peer:checked ~ .peer-checked\:before\:wt-translate-x-full::before{
  content: var(--tw-content);
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.wt-peer:focus-visible ~ .peer-focus-visible\:wt-outline{
  outline-style: solid;
}
.wt-peer:focus-visible ~ .peer-focus-visible\:wt-outline-offset-2{
  outline-offset: 2px;
}
.\[\&\:not\(\:last-child\)\]\:wt-border-b:not(:last-child){
  border-bottom-width: 1px;
}
.\[\&\:not\(\:last-child\)\]\:wt-border-gray-light:not(:last-child){
  --tw-border-opacity: 1;
  border-color: rgb(230 232 238 / var(--tw-border-opacity));
}

